
streamlit==1.65.0
google-genai==2.29.0
google-cloud-texttospeech==2.38.0
edge-tts==7.2.8
gradio-client==2.7.2

kokoro==0.9.4
soundfile==0.14.0
numpy==1.26.4

torch==2.8.0
torchvision==0.23.0
transformers==4.57.1
